@import url("../basestyles.scss");

/* .body {
  background-color: var(--background);
  color: var(--headline);
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .card {
    width: 2em !important;
    height: 2em !important;
    border-radius: 0.2em !important;
    box-shadow: 0 0.1em 0em rgba(0, 0, 0, 0.1) !important;
    img {
      width: 1em !important;
    }
  }
} */
