.about-me{
    padding-bottom: 1rem;
}

.about-me, .h2-about-me, .p-about-me, .p-bold{
    background: #EAF2FD;    
}

.h2-about-me{
    color: #1A2238;
    font-size: 1.8rem;
    margin: 0rem 5rem 0rem 10rem;
    padding-top: 2rem;
}

.p-about-me{
    margin: 1rem 55rem 3rem 10rem; 
    /*arriba, derecha, abajo, izquierda*/
    text-align: justify;
}

.p-bold{
    font-weight: bold;
}

@media screen and (max-width: 1460px){
    .p-about-me{
        margin: 1rem 5rem 3rem 3rem;
    }

    .h2-about-me{
        margin: 0rem 5rem 0rem 3rem;
    }
}