.footer{
    position: absolute;
    top: 3081.95px;
    width: 100%;
    height: 162px;
    background-color: var(--iris);
    color: var(--crayola);
    font-size: 14px
}

.footer div{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.footer div div{
    display: flex;
    flex-direction: column;
}

.footer p{
    color: var(--lotion)
}