@import url("../projects/projects.component.scss");

.body{
    background-color: var(--background);

    .index, h3, .description, .status{
        text-align: right !important;
    }

    h3{
        padding-top: 1em;
    }
}