.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;
  div {
    height: 2.875em;
    width: 4.6875em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--background);
    cursor: pointer;
    padding: 0.25em 0 0.25em 0;
    p {
      font-family: Consolas, monaco, monospace;
      font-size: 0.8em;
    }
  }

  div:active,
  div:hover {
    background-color: var(--background);
    color: var(--primary);
    text-decoration: underline;
  }
}
