.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;
  div {
    height: 2.875em;
    width: 4.6875em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--headline);
    cursor: pointer;
    p {
      color: var(--background);
      font-weight: bold;
      font-size: 0.75em;
    }
  }

  div:hover {
    background-color: var(--secondary);
  }

  div:active {
    background-color: var(--background);
    color: var(--headline);
  }
}