<div class="navbar">
    <div (click)="scrollTo('about')">
        <p>{{ 'nav-bar.about' | translate}}</p>
    </div>
    <div (click)="scrollTo('projects')">
        <p>{{ 'nav-bar.projects' | translate}}</p>
    </div>
    <div (click)="scrollTo('skills')">
        <p>{{ 'nav-bar.skills' | translate}}</p>
    </div>
    <div (click)="scrollTo('education')">
        <p>{{ 'nav-bar.education' | translate}}</p>
    </div>
    <div (click)="scrollTo('contact')">
        <p>{{ 'nav-bar.contact' | translate}}</p>
    </div>
</div>