
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 100%;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
    position: sticky;
    top: 0;
}

i{
    color: var(--crayola);
}


.material-icons{
    color: var(--iris);    
}

.material-icons,
i{
    font-size: 44px;
}