.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 100%;
    justify-content: space-between;
    padding: 1.875em 4.375em 0 3.125em;
    position: fixed;
    border: 1px solid red;
    width: 100%;
    top: 0;
    z-index: 1;
}

i{
    color: var(--crayola);
}

.material-icons{
    color: var(--iris);
    margin-top: 17px;
    margin-right: 18px;    
}

.material-icons,
i{
    font-size: 44px;
}

@media only screen and (min-width: 360px){
    .header{
        max-height: 76px;
        padding: 0.8em 1.875em 0 1.875em;
    }
}