    <div class="body">
        <h2>{{ 'projects.title' | translate }}</h2>

        <div class="projects">
            <div class="project-item" *ngFor="let card of data?.codeProjects; let i = index;">
                <div class="card" (click)="navigateTo(card.url)">
                    <p class="index">0{{ i + 1 }}</p>
                    <div>
                        <img src="/assets/images/codeProjects/{{ card.img }}.webp"
                            alt="{{ card.img }} project preview">
                    </div>
                    <div>
                        <p class="category">{{ card.category }}</p>
                        <h3>{{ ('projects.' + card.name + '.name') | translate }}</h3>
                        <p class="description">{{ ('projects.' + card.name + '.description') | translate }}</p>
                        <p class="status">{{ ('projects.' + card.name + '.status') | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>