<div class="body" *ngIf="en">
    <h2 *ngIf="en">Code Projects</h2>
    <h2 *ngIf="es">Proyectos con código</h2>

    <div class="projects">
        <div class="project-item"
        *ngFor="let card of data?.codeProjects; 
        let i = index;">
            <div class="card" (click)="navigateTo(card.url)">
                <p class="index">0{{ i + 1 }}</p>
                <div>
                    <img src="/assets/images/codeProjects/{{ card.name }}.webp"
                        alt="{{ card.name }} project preview">
                </div>
                <div>
                    <p class="category">{{ card.category }}</p>
                    <h3>{{ card.name }}</h3>
                    <p class="description">{{ card.description }}</p>
                    <p class="status">{{ card.status }}</p>
                </div>
            </div>
        </div>
    </div>
</div>