<div class="home">
    <div class="principal">
        <div class="text">
            <div class="firstText">
                <h1>frontend<br>developer.</h1>
                <p>design and coding to make web sites accessible and easy for everyone.</p>
            </div>
            <div class="bottomText">
                <p>skilled in Angular and<br>accessible design.</p>
                <p>proven experience building<br>websites and webapps.</p>
            </div>
        </div>
        <div class="image">
            <div class="border"></div>
            <img src="/assets/Imagen1.png" alt="developer photo">
        </div>
    </div>

    <div class="as">
        <div class="as_descriptions">
            <div>
                <h2>as Engineer</h2>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                    del T. persona que se dedica a la imprenta) desconocido usó</p>
            </div>
            <div>
                <h2>as Developer</h2>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha
                    sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T.
                    persona que se dedica a la imprenta) desconocido usó</p>
            </div>
            <div>
                <h2>as Designer</h2>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha
                    sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T.
                    persona que se dedica a la imprenta) desconocido usó</p>
            </div>
        </div>
    </div>

    <div class="experience">
        <div class="exp_text">
            <div>
                <h3>I design things</h3>
                <p>that I want to make</p>
                <button><a href="https://www.figma.com/@a18a18a3_df5b_4" target="_blank" rel="noopener noreferrer" aria-label="See my Figma">SEE MY FIGMA <i class="bi bi-arrow-right"></i></a></button>
            </div>
            <div>
                <h3>I build those things</h3>
                <p>that I had designed... at times</p>
                <button><a href="https://github.com/Anfe-ion" target="_blank" rel="noopener noreferrer" aria-label="See my Github">SEE MY GITHUB <i class="bi bi-arrow-right"></i></a></button>
            </div>
            <div>
                <h3>sometimes, I post</h3>
                <p>about design and frontend development</p>
                <button><a href="https://instagram.com/anfetota" target="_blank" rel="noopener noreferrer" aria-label="See my Instagram">SEE MY INSTAGRAM <i class="bi bi-arrow-right"></i></a></button>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="section_contact">
            <div>
                <h4>now, contact me</h4>
            </div>
            <div>
                <div>
                    <p>your name</p>
                    <input type="text" placeholder="Enter your name">
                </div>

                <div>
                    <p>your email</p>
                    <input type="email" placeholder="Enter your email">
                </div>
                
                <div>
                    <p>your message</p>
                    <input type="text" placeholder="Enter your message">
                </div>
            </div>
            
            <div>
                <button>SEND <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>