.principal{
    position:absolute;
    top: 0;
    width: 100%;
    padding-top: 98px;
    background: linear-gradient(to right, var(--iris) 60%, var(--crayola) 40%)
}
.text{
    padding: 5.06em 0em 4.25em 10em;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background: linear-gradient(to right, var(--iris) 60%, var(--crayola) 40%)
}

.firstText{
    margin-bottom: 255px;
}

.firstText h1{
    font-size: 3.75em;
    font-weight: 650;
    line-height: 1em;
    color: var(--crayola);
    padding-bottom: 0.5em;
}

.firstText p{
    color: white;
    font-weight: 500;
}

.bottomText{
    width: 26.82em;
    gap: 2.57em;
    display: flex;
    flex-direction: row;
    color: var(--crayola);
}

.image img, .border{
    position: absolute;
    top: 200px;
    right: 489px;
    width: 21.875em;
    height: 21.875em;
}

.border{
    margin-top: 1em;
    margin-right: -1em;
    border: 2px solid var(--lotion);
}

