.body {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 1.6875em 0em 1.6875em;

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.625em, 1fr));
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;

    .project-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .card {
        background-color: var(--headline);
        width: 5.625em;
        height: 5.625em;
        margin: 0 auto;
        border-radius: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.25em 0em rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        img {
          margin: 0 auto;
          width: 3.75em;
        }
      }

      .card:hover {
        box-shadow: 0 0.25em 0em rgba(0, 0, 0, 0.4);
      }

      .card:active {
        transform: scale(0.97);
      }

      p {
        margin-top: 0.75em;
        font-size: 0.75em;
        font-weight: bold;
      }
    }
  }
}
