@keyframes deslizarYRebotar {
    0% {
        transform: translateX(100%);
    }

    98% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

.menu {
    background-color: white;
    position: absolute;
    top: 21px;
    right: 70px;
    display: flex;
    flex-direction: column;
    width: 21.31em;
    height: 32.5em;
    color: var(--iris);
    padding: 1.25em 1.25em 2em 1.25em;
    animation: deslizarYRebotar 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.close {
    text-align: right;
}

.close i {
    font-size: 2.75em;
    position: absolute;
    z-index: 5;
    right: 92px;
    top: 41px;
    background-color: inherit;
    color: var(--iris)
}

.first_sec {
    padding-top: 50px;
    height: 39%;
}

.contact_sec {
    height: 42%;
}

.first_sec,
.contact_sec {
    display: flex;
    flex-direction: column;
    line-height: 2.75em;
}

.contact_sec p {
    line-height: 2.6em;
    letter-spacing: .3em;
    font-weight: 600;
}

.last_sec {
    height: 19%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.change_colors,
.contact_sec p {
    color: var(--american_purple);
}

.social_icons {
    font-size: 1.875em;
    display: flex;
    gap: 1em;
    justify-content: right;
}

@media only screen and (min-width: 360px) {
    .menu {
        top: 0px;
        right: 0px;
    }

    .close i {
        right: 30px;
        top: 22px;
    }
}