<div class="menu">
    <div class="close">
        <i class="material-icons">close</i>
    </div>
    <div class="first_sec">
        <a routerLink="/myWork" aria-label="my Work">my Work</a>
        <a routerLink="/myResume" aria-label="my Résumé">my Résumé</a>
        <a routerLink="/mySkills" aria-label="my Skills">my Skills</a>
    </div>
    <div class="contact_sec">
        <p>CONTACT</p>
        <a href="mailto:andres.moncada.c@gmail.com" aria-label="andres.moncada.c&#64;gmail.com">andres.moncada.c&#64;gmail.com</a>
        <a href="http://wa.me/573192351338" target="_blank" rel="noopener noreferrer" aria-label="+57 319 235 1338">+57 319 235 1338</a>
    </div>
    <div class="last_sec">
        <div class="change_colors">
            <p>cambiar a Español</p>
        </div>
        <div class="social_icons">
            <i class="bi bi-moon-stars"></i>
            <a href="https://www.linkedin.com/in/andresfmc/" target="_blank" rel="noopener noreferrer" aria-label="Contact via Linkedin Redirection"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/Anfe-ion" target="_blank" rel="noopener noreferrer" aria-label="Github Repositories"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>