

<app-about id="about" [en]="en" [es]="es" [pt]="pt"></app-about>
<app-projects id="projects" [en]="en" [es]="es" [pt]="pt"></app-projects>
<app-prototypes id="prototypes" [en]="en" [es]="es" [pt]="pt"></app-prototypes>
<app-education id="education" [en]="en" [es]="es" [pt]="pt"></app-education>
<app-certifications id="certifications" [en]="en" [es]="es" [pt]="pt"></app-certifications>
<app-skills id="skills"></app-skills>
<app-contact id="contact"[en]="en" [es]="es" [pt]="pt"></app-contact>
<app-navbar></app-navbar>

<router-outlet />
