<div class="body">
    <h2>{{ 'certifications.title' | translate}}</h2>
    <div class="projects">
        <div *ngFor="let card of data?.certifications" class="project-item">
            <div class="card" (click)="navigateTo(card.url)">
                <img src="assets/images/certifications/{{card.university}}.webp" alt="{{card.university}} Logo">
            </div>
            <p class="name" (click)="navigateTo(card.url)">{{ ('certifications.' + card.name + '.name') | translate }}</p>
            <p class="status">{{ ('certifications.' + card.name + '.status') | translate }}</p>
        </div>
    </div>
</div>