@import url("../basestyles.scss");

.body {
  background-color: var(--background) !important;
  padding-bottom: 5em;

  .card {
    background-color: var(--secondary) !important;
    cursor: pointer;
  }

  .name {
    text-decoration: underline;
    cursor: pointer;
  }
}