@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --background: #004643;
  --headline: #fffffe;
  --button: #f9bc60;
  --secondary: #abd1c6;
  --tertiary: E16162;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

h1{
    font-size: 1.25em;
    font-weight: 700;
}

h3{
    text-align: center;
    font-weight: 1em;
    padding: 1em 0 1em 0;
}
